@model IEnumerable<WebFarmacia.Web.Data.Entities.Medicina>

@{ ViewData["Title"] = "Home Page";
}
<!-- <link href="/css/site.min.css" rel="stylesheet" />   -->

<link href="stylesheet" type="text/css" media="screen" rel="/css/site.css" />
<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
<!--colacando el carrusel-->
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="ima/unnamed 1.jpg" alt="ASP.NET" class="img-responsive" />
        </div>

        <div class="item">
            <img src="ima/unnamed 2.jpg" alt="Visual Studio" class="img-responsive" />
        </div>

        <div class="item">
            <img src="ima/unnamed 3.jpg" alt="Microsoft Azure" class="img-responsive" />
        </div>

        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
@{
    var total=0;
     foreach(var m in Model)
     {
         total=total+1;
     }

     int filas=total/3;

int contador=0;
int contfilas=0;



};

<p>@total</p>
<p>@filas</p>


<table>
    
       
        <tbody>
             <tr>
                <th>Col1</th>
                <th>Col2</th>
                <th>Col3</th>
             </tr>

            @for (; contador < total;  contador++) 
{
    @if((contador%3)==0)
    {
                    <tr>
                <td width=200px>
                    <h2>@Model.ElementAt(contador).Name</h2>
                    @if (!string.IsNullOrEmpty(@Model.ElementAt(contador).ImageUrl))
                    {
                        <img src="@Url.Content(@Model.ElementAt(contador).ImageUrl)"alt="Ima"style="width:200px;
                        height:200px;max-width:50%" />
                    }
                     <h4>@Model.ElementAt(contador).Price Bs</h4>
                </td>
                @if((contador+1)<=total-1){
                    <td width=200px>
                        <h2>@Model.ElementAt(contador+1).Name</h2>
                        @if (!string.IsNullOrEmpty(@Model.ElementAt(contador+1).ImageUrl))
                    {
                        <img src="@Url.Content(@Model.ElementAt(contador+1).ImageUrl)"alt="Ima"style="width:200px;
                        height:200px;max-width:50%" />
                    }
                     <h4>@Model.ElementAt(contador+1).Price Bs</h4>
                    </td>
                }
                @if((contador+2)<=total-1){
                 <td width=200px>
                   <h2>@Model.ElementAt(contador+2).Name</h2>
                   @if (!string.IsNullOrEmpty(@Model.ElementAt(contador+2).ImageUrl))
                    {
                        <img src="@Url.Content(@Model.ElementAt(contador+2).ImageUrl)"alt="Ima"style="width:200px;
                        height:200px;max-width:50%" />
                    }
                     <h4>@Model.ElementAt(contador+2).Price Bs</h4>
                </td>
                }
            </tr>
    } 
}
            
            
        
           
        </tbody>
   
</table>




<!--
<div class="row ">
    
   
            <div class="item active">
             @foreach (var m in Model)
                    {<div class="col-4"> 
                        <div class="item">
                            <h2>@m.Name</h2>
            @if (!string.IsNullOrEmpty(@m.ImageUrl))
                    {
            <img src="@Url.Content(m.ImageUrl)"alt="Ima"style="width:200px;
                        height:200px;max-width:50%" />
                    }
                     <h4>@m.Price Bs</h4>
                         <br>  
</div>                 </div>
                    }
               </div>
   
-->